*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol{
    list-style: none;
}


body{
    background-color: bisque;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.cards-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 20px;
}

.cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 12px 12px;
    color: aliceblue;
    background-color: cadetblue;
}


.cards-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

